# OS and Version Control
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db


# Linux and Access Control
.htaccess


# Dev Utilities
/searchreplacedb2.php


# Hidden
zZz/


# WordPress Content
/wp-content/index.php
/wp-content/languages/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/plugins/index.php
/wp-content/plugins/jetpack/
/wp-content/plugins/wp-super-cache/
/wp-content/themes/index.php
/wp-content/themes/twentyfifteen/


# Other WordPress
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php


# Large and Disallowed File Types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
