/******************************************************************
Site Name:
Author:

Stylesheet: Small Desktop

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 24px + 20px + 768px + 20px + 24px;
}


/* [ldc_list] shortcode */
.ldc-list-excerpt >a >p {
  font-size: 0.8046875em;
}


/* CAROUSEL */
.ldc-carousel {
  width:   20px + 768px + 20px;
  height: (20px + 768px + 20px) / 3.2;

  ul li {
    height: (20px + 768px + 20px) / 3.2;
  }

}
