/******************************************************************
Site Name:
Author:

Stylesheet: Small Desktop

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 24px + 20px + 768px + 20px + 24px;
}


/* HEADER */
#inner-header nav {
  font-size: 0.95em;
  >ul >li {
    padding: 0 9px;
  }
}


/* [ldc_list] shortcode */
.ldc-list-title h4 {
  font-size: 1.4em;
}
.ldc-list-excerpt >a p {
  font-size: 0.8046875em;
}


/* CAROUSEL */
.ldc-carousel {
  margin-top: 100px;

  width:   20px + 768px + 20px;
  height: (20px + 768px + 20px) / 3.2;

  ul li {
    height: (20px + 768px + 20px) / 3.2;
  }

  .ldc-list-title h4 {
    font-size: 2em;
  }
  .ldc-list-excerpt >a p {
    font-size: 1em;
  }
}


/* FRONT PAGE */
.h-1of3 .ldc-carousel .ldc-list-title h4 {
  font-size: 1.8em;
}
.h-1of3 .ldc-carousel .ldc-list-excerpt >a p {
  font-size: 0.9em;
}
.ldc-front-page-spacer {
  height: 300px;
}


/* VIMEO */
.rp-slug-curious .ldc-vimeo >iframe {
  width:  750px;
  height: 421px;
}


