/******************************************************************
Site Name: 
Author: 

Stylesheet: Wide Desktop

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/


.wrap {
  width: 24px + 20px + 1030px + 20px + 24px;
}


/* HEADER */
#inner-header nav {
  font-size: 1.2em;
  >ul >li {
    padding: 0 12px;
  }
}


/* [ldc_list] shortcode */
.ldc-list-title h4 {
  font-size: 1.8em;
}
.ldc-list-excerpt >a p {
  font-size: 0.96875em;
}


/* CAROUSEL */
.ldc-carousel {
  margin-top: 120px;

  width:   20px + 1030px + 20px;
  height: (20px + 1030px + 20px) / 3.2;

  ul li {
    height: (20px + 1030px + 20px) / 3.2;
  }

  .ldc-list-title h4 {
    font-size: 2.7em;
  }
  .ldc-list-excerpt >a p {
    font-size: 1.3em;
  }

}


/* FRONT PAGE */
.h-1of3 .ldc-carousel .ldc-list-title h4 {
  font-size: 2.2em;
}
.h-1of3 .ldc-carousel .ldc-list-excerpt >a p {
  font-size: 1.1em;
}
.ldc-front-page-spacer {
  height: 400px;
}





