/******************************************************************
Site Name: 
Author: 

Stylesheet: Wide Desktop

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/


.wrap {
  width: 24px + 20px + 1030px + 20px + 24px;
}


/* [ldc_list] shortcode */
.ldc-list-excerpt >a p {
  font-size: 0.96875em;
}


/* CAROUSEL */
.ldc-carousel {
  margin-top: 120px;

  width:   20px + 1030px + 20px;
  height: (20px + 1030px + 20px) / 3.2;

  ul li {
    height: (20px + 1030px + 20px) / 3.2;
  }

  .ldc-list-title h4 {
    font-size: 2.7em;
  }
  .ldc-list-excerpt >a p {
    font-size: 1.3em;
  }

}
