/******************************************************************
Site Name: 
Author: 

Stylesheet: HD 1080p Monitor

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 24px + 20px + 1240px + 20px + 24px;
}


/* [ldc_list] shortcode */
.ldc-list-title h4 {
  font-size: 1.4em;
}
.ldc-list-excerpt >a p {
  font-size: 1.2em;
}


/* CAROUSEL */
.ldc-carousel {
  width:   20px + 1240px + 20px;
  height: (20px + 1240px + 20px) / 3.2;

  ul li {
    height: (20px + 1240px + 20px) / 3.2;
  }

}
