/* WRAP */
.ldc-list-wrap {
  width: 100%;
}


/* TABLE */
.ldc-list-post {
  display: table;
  width: 100%;
  height: 400px;
  background-size: 100%; /* height automatically set to auto */
}
.ldc-list-post.ldc-focus {

}


/* TABLE ROW */
.ldc-list-post >div {
  display: table-row;
}
.ldc-list-title {
  color: rgba(255,255,255,.6);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-touch-callout: none; /* Android and iOS callouts*/
    -webkit-user-select: none; /* Chrome, Safari, Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE */
            user-select: none;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
.ldc-list-title:hover {
  color: rgba(255,255,255,1);
}
.ldc-list-post.ldc-focus .ldc-list-title {
  background-color: rgba(0,255,0,0);
  color:            rgba(255,255,255,0);
  cursor: default;
}


/* TABLE CELL */
.ldc-list-post >div >* {
  display:        table-cell;
  text-align:     center;
  vertical-align: middle;
}
.ldc-list-title h4 {
  margin: 0;
  padding: 0 1em;
}
.ldc-list-excerpt >a {
  height: 1px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
.ldc-list-excerpt >a:hover {
  color: rgba(255,255,255,1);
}


/* CELL CONTENT */
.ldc-list-excerpt >a >p {
  margin: 0;
  padding: 0 1em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
.ldc-list-post.ldc-focus .ldc-list-excerpt >a >p {
  height: auto;
  padding: 1em 1em;
  opacity: 1;
}


/* COLOR BACKGROUNDS */
.ldc-list-post.ldc-link-type-twitter    .ldc-list-excerpt >a  { background-color: rgba(  0,132,180,0.85); } /* http://designpieces.com/2012/12/twitter-colour-palette/ */
.ldc-list-post.ldc-link-type-facebook   .ldc-list-excerpt >a  { background-color: rgba( 59, 89,152,0.85); } /* http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/ */
.ldc-list-post.ldc-link-type-tumblr     .ldc-list-excerpt >a  { background-color: rgba( 50, 80,109,0.85); } 
.ldc-list-post.ldc-link-type-pinterest  .ldc-list-excerpt >a  { background-color: rgba(203, 32, 39,0.85); } 
.ldc-list-post.ldc-link-type-eventbrite .ldc-list-excerpt >a  { background-color: rgba(255, 80,  0,0.85); }
.ldc-list-post.ldc-link-type-vimeo      .ldc-list-excerpt >a  { background-color: rgba( 68,187,255,0.85); }
.ldc-list-post.ldc-link-type-meetup     .ldc-list-excerpt >a  { background-color: rgba(224, 57, 62,0.85); }
.ldc-list-post.ldc-link-type-loopcoop   .ldc-list-excerpt >a  { background-color: rgba(255,  0,255,0.85); }
.ldc-list-post.ldc-link-type-rpos       .ldc-list-excerpt >a  { background-color: rgba(  0,255  ,0,0.85); }
.ldc-list-post.ldc-link-type-meteor     .ldc-list-excerpt >a  { background-color: rgba(168, 54, 54,0.85); }
.ldc-list-post.ldc-link-type-other      .ldc-list-excerpt >a  { background-color: rgba(  0,255,  0,0.85); }

.ldc-list-post.ldc-link-type-twitter    .ldc-list-excerpt >a:hover { background-color: rgba(  0,132,180,0.95); } /* http://designpieces.com/2012/12/twitter-colour-palette/ */
.ldc-list-post.ldc-link-type-facebook   .ldc-list-excerpt >a:hover { background-color: rgba( 59, 89,152,0.95); } /* http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/ */
.ldc-list-post.ldc-link-type-tumblr     .ldc-list-excerpt >a:hover { background-color: rgba( 50, 80,109,0.95); } 
.ldc-list-post.ldc-link-type-pinterest  .ldc-list-excerpt >a:hover { background-color: rgba(203, 32, 39,0.95); } 
.ldc-list-post.ldc-link-type-eventbrite .ldc-list-excerpt >a:hover { background-color: rgba(255, 80,  0,0.95); }
.ldc-list-post.ldc-link-type-vimeo      .ldc-list-excerpt >a:hover { background-color: rgba( 68,187,255,0.95); }
.ldc-list-post.ldc-link-type-meetup     .ldc-list-excerpt >a:hover { background-color: rgba(224, 57, 62,0.95); }
.ldc-list-post.ldc-link-type-loopcoop   .ldc-list-excerpt >a:hover { background-color: rgba(255,  0,255,0.95); }
.ldc-list-post.ldc-link-type-rpos       .ldc-list-excerpt >a:hover { background-color: rgba(  0,255  ,0,0.95); }
.ldc-list-post.ldc-link-type-meteor     .ldc-list-excerpt >a:hover { background-color: rgba(168, 54, 54,0.95); }
.ldc-list-post.ldc-link-type-other      .ldc-list-excerpt >a:hover { background-color: rgba(  0,255,  0,0.95); }

/* COLOR OVERLAYS */
.ldc-list-post.ldc-link-type-twitter    .ldc-list-title       { background-color: rgba(  0,132,180,0.8); } /* http://designpieces.com/2012/12/twitter-colour-palette/ */
.ldc-list-post.ldc-link-type-facebook   .ldc-list-title       { background-color: rgba( 59, 89,152,0.8); } /* http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/ */
.ldc-list-post.ldc-link-type-tumblr     .ldc-list-title       { background-color: rgba( 50, 80,109,0.8); } 
.ldc-list-post.ldc-link-type-pinterest  .ldc-list-title       { background-color: rgba(203, 32, 39,0.8); } 
.ldc-list-post.ldc-link-type-eventbrite .ldc-list-title       { background-color: rgba(255, 80,  0,0.8); }
.ldc-list-post.ldc-link-type-vimeo      .ldc-list-title       { background-color: rgba( 68,187,255,0.8); }
.ldc-list-post.ldc-link-type-meetup     .ldc-list-title       { background-color: rgba(224, 57, 62,0.8); }
.ldc-list-post.ldc-link-type-loopcoop   .ldc-list-title       { background-color: rgba(255,  0,255,0.8); }
.ldc-list-post.ldc-link-type-rpos       .ldc-list-title       { background-color: rgba(  0,255  ,0,0.8); }
.ldc-list-post.ldc-link-type-meteor     .ldc-list-title       { background-color: rgba(168, 54, 54,0.8); }
.ldc-list-post.ldc-link-type-other      .ldc-list-title       { background-color: rgba(  0,255,  0,0.8); }

.ldc-list-post.ldc-link-type-twitter    .ldc-list-title:hover { background-color: rgba(  0,132,180,0.5); } /* http://designpieces.com/2012/12/twitter-colour-palette/ */
.ldc-list-post.ldc-link-type-facebook   .ldc-list-title:hover { background-color: rgba( 59, 89,152,0.5); } /* http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/ */
.ldc-list-post.ldc-link-type-tumblr     .ldc-list-title:hover { background-color: rgba( 50, 80,109,0.5); } 
.ldc-list-post.ldc-link-type-pinterest  .ldc-list-title:hover { background-color: rgba(203, 32, 39,0.5); } 
.ldc-list-post.ldc-link-type-eventbrite .ldc-list-title:hover { background-color: rgba(255, 80,  0,0.5); }
.ldc-list-post.ldc-link-type-vimeo      .ldc-list-title:hover { background-color: rgba( 68,187,255,0.5); }
.ldc-list-post.ldc-link-type-meetup     .ldc-list-title:hover { background-color: rgba(224, 57, 62,0.5); }
.ldc-list-post.ldc-link-type-loopcoop   .ldc-list-title:hover { background-color: rgba(255,  0,255,0.5); }
.ldc-list-post.ldc-link-type-rpos       .ldc-list-title:hover { background-color: rgba(  0,255  ,0,0.5); }
.ldc-list-post.ldc-link-type-meteor     .ldc-list-title:hover { background-color: rgba(168, 54, 54,0.5); }
.ldc-list-post.ldc-link-type-other      .ldc-list-title:hover { background-color: rgba(  0,255,  0,0.5); }

.ldc-list-post.ldc-focus                .ldc-list-title:hover,
.ldc-list-post.ldc-focus                .ldc-list-title { background-color: rgba(  0,  0,  0,0.0); }



/* LISTING */
.ldc-listing li {
  margin-bottom: 24px;
}

.ldc-listing.ldc-3-col li {
  position: absolute;
}






